
.navbar {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-links{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  list-style: none;
}
.nav-links ul {
  display: flex;
}

.nav-links a, .nav-links span {
  color: white;
  text-decoration: none;
  padding: 0.4rem;
}

.nav-links a:hover, .nav-links span:hover {
  text-decoration: none;
  border-radius: 8px;
  background-color: #222;
}
/*Estilo para el menu de usuario desplegable*/
.user-menu {
  position: relative;
}

.user-menu .dropdown {
  position: absolute;
  top: 100%;
  left: -10px;
  background: #111;
  padding: 0.5rem;
  border-radius: 8px;
  display: none;
  flex-direction: column;
  min-width: 150px;
  transition: all 0.3s ease-in-out;
}

.user-menu:hover .dropdown {
  display: flex;
  
}

.dropdown li a {
  color: white;
  padding: 0.5rem;
  gap: 10px;
  display: block;
  transition: all 0.3s ease-in-out;
}

.dropdown li a:hover {
  background-color: #222;
  text-decoration: none;
  border-radius: 5px;
}

/*Estilos para el contenedor de búsqueda*/
.search-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.search-container input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-container button {
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Estilos para el pie de página */
/* Pie de página */
.footer {
  background-color: #0a141d;
  width: 100%;
  z-index:0;
  overflow: hidden;
}

.footer .gp1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.footer .gp1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
}

.footer .gp1 .box figure img {
  transition: all 0.45s ease;
  width: 350px;
}

.footer .gp1 .box figure img:hover {
  transform: scale(1.015);
}

.footer .gp1 .bar figure img:not(hover) {
  transition: all 0.35s ease;
  transform: scale(1);
}

.footer .gp1 .box h2 {
  color: #f2c119;
  margin-bottom: 25px;
  font-size: 20px;
}

.footer .gp1 .box p {
  color: #e5e4e4;
  margin-bottom: 10px;
}

.footer .gp1 .social-icons a {
  display: inline-block;
  text-decoration: none;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: white;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  border-radius: 50%;
  transition: all 0.45s ease;
}

.footer .gp1 .social-icons a:hover {
  transform: scale(1.2);
  background-color: #183661;
}

.footer .gp1 .social-icons a:hover .fa-instagram {
  color: #c13584;
}
.footer .gp1 .social-icons a:hover .fa-facebook {
  color: #0947cc;
}
.footer .gp1 .social-icons a:hover .fa-x-twitter {
  color: #ffd43b;
}
.footer .gp1 .social-icons a:hover .fa-whatsapp {
  color: #25d366;
}

/* Anular la transición cuando no se pasa el puntero sobre un icono */
.footer .gp1 .social-icons a:not(:hover) {
  transition: all 0.35s ease;
  transform: scale(1);
}

.footer .gp2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.footer .gp2 small {
  font-size: 15px;
}
.footer .politicas {
  display: flex;
  margin-top: 20px;
}
.footer .politicas a {
  color: #fff;
  text-decoration: none;
  margin-right: 25px;
  text-align: center;
  transition: all 0.45s ease;
}
.footer .politicas a:hover {
  color: #f2c119;
}