
/* Estilos Generales */
:root {
  /* Colores base */
  --white: #FFFFFF;
  --black: #151515;
  
  /* Azules (jerarquía) */
  --navy-dark: #0E2439;    /* fondos importantes */
  --navy-medium: #121F2B;  /* Footer */
  --navy-light: #1A3A5A;   /* Hovers azules */
  --navy-nav:#183661;
  
  /* Amarillos (acción) */
  --gold-primary: #F8D347; /* Botones principales */
  --gold-hover: #FFDF60;   /* Hovers */
  --gold-light: #FFF5D1;   /* Fondos destacados */
  
  /* Grises */
  --gray-light: #E8E8E8;   /* Fondos secciones */
  --gray-medium: #D1D1D1;  /* Bordes */
  --gray-dark: #7A7A7A;    /* Texto secundario */
}

* {
  margin: 0; /* Elimina el margen por defecto */
  padding: 0; /* Elimina el padding por defecto */
  box-sizing: border-box; /* Asegura que el tamaño de los elementos se calcule correctamente */
}

/* Configuración del HTML */
html {
  scroll-behavior: smooth; /* Desplazamiento suave */
  font-size: 100%; /* Asegura un tamaño de fuente base */
  margin: 0;
  padding: 0;
  
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: #FFF8DC(0, 0, 0, 0);
}

/* Estilos para encabezados */
h3,
h4,
h5,
h6 {
  letter-spacing: 0;
  font-weight: normal;
  position: relative;
  padding: 0 0 10px 0;
  line-height: normal;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
h1, h2 {
  font-family: 'Montserrat', sans-serif;
  text-emphasis: none;
  text-decoration: none;
  text-decoration-line: none;
}
p {
  font-family: 'Inter', sans-serif;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}
/* Estructura principal */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-content {
  flex: 1;
  width: 100%;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none !important;
  color: inherit;
}
ul{
  list-style: none; /* Elimina los puntos de las listas */

}
img{
  -webkit-user-drag: none; /* Evita el arrastre en navegadores WebKit */
  -moz-user-drag: none; /* Evita el arrastre en navegadores Mozilla */
  user-select: none; /* Evita la selección de imágenes */
}